# Setup

In [2]:
pip install sparql-dataframe

Requirement already satisfied: sparql-dataframe in c:\users\anita\lib\site-packages (0.4)
Requirement already satisfied: pandas>=0.22.0 in c:\users\anita\lib\site-packages (from sparql-dataframe) (1.4.2)
Requirement already satisfied: SPARQLWrapper>=1.8.1 in c:\users\anita\lib\site-packages (from sparql-dataframe) (2.0.0)
Requirement already satisfied: numpy>=1.21.0 in c:\users\anita\lib\site-packages (from pandas>=0.22.0->sparql-dataframe) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\anita\lib\site-packages (from pandas>=0.22.0->sparql-dataframe) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\anita\lib\site-packages (from pandas>=0.22.0->sparql-dataframe) (2.8.2)
Requirement already satisfied: rdflib>=6.1.1 in c:\users\anita\lib\site-packages (from SPARQLWrapper>=1.8.1->sparql-dataframe) (6.1.1)
Requirement already satisfied: six>=1.5 in c:\users\anita\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.22.0->sparql-dataframe) (1.16.0)
Requirement already satisfied: pyparsing in c:\users\anita\lib\site-packages (from rdflib>=6.1.1->SPARQLWrapper>=1.8.1->sparql-dataframe) (3.0.9)
Requirement already satisfied: setuptools in c:\users\anita\lib\site-packages (from rdflib>=6.1.1->SPARQLWrapper>=1.8.1->sparql-dataframe) (58.1.0)
Requirement already satisfied: isodate in c:\users\anita\lib\site-packages (from rdflib>=6.1.1->SPARQLWrapper>=1.8.1->sparql-dataframe) (0.6.1)

[notice] A new release of pip available: 22.1.2 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --quiet rdflib SPARQLWrapper pandas

Note: you may need to restart the kernel to use updated packages.

In [4]:
import rdflib
import ssl
import json
import pprint
import pandas as pd
from pprint import pprint
from SPARQLWrapper import SPARQLWrapper, JSON
import csv
from rdflib import URIRef
import requests
import sparql_dataframe

ssl._create_default_https_context = ssl._create_unverified_context
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"
sparql_wd = SPARQLWrapper(wikidata_endpoint)
sparql_wd.setReturnFormat(JSON)

# Queries

**Gender Distribution of Serial Killers**
---

In [71]:
# Query 1: Total number of serial killers
query = """
SELECT (COUNT(DISTINCT ?person) as ?count) WHERE {
  ?person wdt:P31 wd:Q5.
  ?person wdt:P106 wd:Q484188.
}
"""

response = requests.get(
    "https://query.wikidata.org/sparql",
    params={"query": query, "format": "json"}
)

if response.status_code != 200:
    raise Exception("SPARQL query failed with status code " + str(response.status_code))

results = response.json()

total_count = int(results['results']['bindings'][0]['count']['value'])

# Query 2: Number of serial killers by gender
query = """
SELECT ?genderLabel (COUNT(?serialKiller) AS ?count) WHERE {
  ?serialKiller wdt:P106 wd:Q484188 ;
               wdt:P31 wd:Q5 ;
               wdt:P21 ?gender .
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en" .
    ?gender rdfs:label ?genderLabel .
  }
}
GROUP BY ?genderLabel
ORDER BY DESC(?count)
""" 

response = requests.get(
    "https://query.wikidata.org/sparql",
    params={"query": query, "format": "json"}
)

if response.status_code != 200:
    raise Exception("SPARQL query failed with status code " + str(response.status_code))

results = response.json()
genders = ['male', 'female', 'trans woman', 'intersex']
filtered_results = [result for result in results['results']['bindings'] if result['genderLabel']['value'].lower() in genders]
gender_count = {
    result['genderLabel']['value']: int(result['count']['value'])
    for result in filtered_results
}

# Create the DataFrame
df = pd.DataFrame({
    'Males': [gender_count.get('male', 0)],
    'Females': [gender_count.get('female', 0)],
    'Trans Women': [gender_count.get('trans woman', 0)],
    'Intersex': [gender_count.get('intersex', 0)],
    'Total': [total_count],
})

# Save the combined data to a CSV file
df.to_csv("serial_killers_stats.csv")

df

   Males  Females  Trans Women  Intersex  Total
0    946      134            2         1   1099

**Highest Serial Killer Death Counts**
---

In [51]:
query = """
SELECT ?serialKillerLabel ?genderLabel ?victimCount ?countryOfCitizenshipLabel ?countryCode ?coordinates WHERE {
  ?serialKiller wdt:P106 wd:Q484188 .
  ?serialKiller wdt:P31 wd:Q5 .
  ?serialKiller wdt:P21 ?gender .
  ?serialKiller wdt:P1345 ?victimCount .
  ?serialKiller wdt:P27 ?countryOfCitizenship .
  ?countryOfCitizenship wdt:P31 wd:Q3624078 .
  ?countryOfCitizenship wdt:P297 ?countryCode .
  ?countryOfCitizenship wdt:P625 ?coordinates .
  SERVICE wikibase:label { 
    bd:serviceParam wikibase:language "en" .
    ?serialKiller rdfs:label ?serialKillerLabel .
    ?gender rdfs:label ?genderLabel .
    ?countryOfCitizenship rdfs:label ?countryOfCitizenshipLabel .
  }
}
ORDER BY DESC(?victimCount)
"""

# Create the DataFrame
def get_dataframe_from_sparql(query):
    sparql_wd.setQuery(query)
    sparql_wd.setReturnFormat(JSON)
    results = sparql_wd.query().convert()

    data = []
    for result in results["results"]["bindings"]:
     data.append({
     'Serial Killer': result['serialKillerLabel']['value'],
     'Gender': result['genderLabel']['value'],
     'Victims': result['victimCount']['value'],
     'Country': result['countryOfCitizenshipLabel']['value'],
     'Country Code': result['countryCode']['value'],
     'Coordinates': result['coordinates']['value']
        })

    df = pd.DataFrame(data)
    df[['Longitude', 'Latitude']] = df['Coordinates'].str.extract('(\-?\d+\.\d+)\s(\-?\d+\.\d+)')
    df = df.drop(columns=['Coordinates'])
    df.columns = ['Serial Killer', 'Gender', 'Victims', 'Country', 'Country Code', 'Longitude', 'Latitude']
    return df

df = get_dataframe_from_sparql(query)

# Save the data to a CSV file
df.to_csv("serial_killers_most_victims.csv")

df

,Serial Killer,Gender,Victims,Country,Country Code,Longitude,Latitude
0,Samuel Little,male,93,United States of America,US,-98.5795,39.828175
1,Gary Ridgway,male,49,United States of America,US,-98.5795,39.828175
2,Salvatore Riina,male,45,Italy,IT,12.5,42.5
3,Wang Qiang,male,45,People's Republic of China,CN,103.451944444,35.844722222
4,Andrei Chikatilo,male,43,Russia,RU,94.25,66.416666666
...,...,...,...,...,...,...,...
68,Joji Obara,male,2,Japan,JP,136.0,35.0
69,Carol M. Bundy,female,2,United States of America,US,-98.5795,39.828175
70,Richard Rogers (serial killer),male,2,United States of America,US,-98.5795,39.828175
71,Mark Errin Rust,male,2,Australia,AU,137.0,-28.0
72,Joran van der Sloot,male,1,Kingdom of the Netherlands,NL,4.883333333,52.366666666

**What Country has the Most Serial Killers?**
---

In [13]:
query = """
SELECT ?coordinates ?countryLabel ?countryCode (COUNT(?serial_killer) AS ?count)(SUM(IF(?gender = wd:Q6581097, 1, 0)) AS ?male_count) (SUM(IF(?gender = wd:Q6581072, 1, 0)) AS ?female_count) ?population WHERE {
  ?serial_killer wdt:P106 wd:Q484188 .
  ?serial_killer wdt:P31 wd:Q5 .
  ?serial_killer wdt:P27 ?country .
  ?country wdt:P31 wd:Q3624078 .
  ?country wdt:P625 ?coordinates .
  ?country wdt:P298 ?countryCode .
  ?country rdfs:label ?countryLabel .
  OPTIONAL { ?serial_killer wdt:P21 ?gender }
  OPTIONAL { ?country wdt:P1082 ?population }
  FILTER (LANG(?countryLabel) = "en")
}
GROUP BY ?countryLabel ?countryCode ?coordinates ?population
ORDER BY DESC(?count)
"""

# Create the DataFrame
def get_dataframe_from_sparql(query):
    sparql_wd.setQuery(query)
    sparql_wd.setReturnFormat(JSON)
    results = sparql_wd.query().convert()

    data = []
    for result in results["results"]["bindings"]:
        data.append({
       'Coordinates': result['coordinates']['value'],
       'Country': result['countryLabel']['value'],
       'Country Code': result['countryCode']['value'],
       'Male': result['male_count']['value'],
       'Female': result['female_count']['value'],
       'Total': int(result['count']['value']),
       'Population': int(result['population']['value'])
        })

    df = pd.DataFrame(data)
    df['Rate per 100,000'] = (df['Total'] / df['Population']) * 100000
    df[['Longitude', 'Latitude']] = df['Coordinates'].str.extract('(\-?\d+\.\d+)\s(\-?\d+\.\d+)')
    df = df.drop(columns=['Coordinates'])
    df.columns = ['Country', 'Country Code', 'Male', 'Female', 'Total', 'Population', 'Rate per 100,000', 'Longitude', 'Latitude']
    return df

df = get_dataframe_from_sparql(query)

# Save the data to a CSV file
df.to_csv("serial_killers_countries.csv")

df

,Country,Country Code,Male,Female,Total,Population,"Rate per 100,000",Longitude,Latitude
0,United States of America,USA,239,39,280,331449281,0.084477,-98.5795,39.828175
1,Russia,RUS,55,3,58,146804372,0.039508,94.25,66.416666666
2,France,FRA,43,6,49,67749632,0.072325,2.0,47.0
3,United Kingdom,GBR,36,5,43,67326569,0.063868,-2.0,54.6
4,Germany,DEU,27,5,33,83149300,0.039688,10.0,51.0
...,...,...,...,...,...,...,...,...,...
115,North Korea,PRK,1,0,1,25490965,0.003923,127.0,40.0
116,New Zealand,NZL,1,0,1,5118700,0.019536,174.0,-41.2
117,Venezuela,VEN,1,0,1,28515829,0.003507,-67.0,8.0
118,Ecuador,ECU,1,0,1,18000062,0.005556,-78.0,-1.0
119,Bolivia,BOL,1,0,1,11051600,0.009048,-64.991228611,-17.056869611

**Where Is a Serial Killer Likely to Work?**
---

In [74]:
query = """
SELECT ?occupationLabel (SUM(IF(?gender = wd:Q6581097, 1, 0)) AS ?maleCount) (SUM(IF(?gender = wd:Q6581072, 1, 0)) AS ?femaleCount) (SUM(IF(?gender = wd:Q1097630, 1, 0)) AS ?intersexCount) (COUNT(?serialKiller) AS ?total) WHERE {
  ?serialKiller wdt:P106 wd:Q484188;
               wdt:P106 ?occupation;
               wdt:P21 ?gender .
  ?occupation wdt:P31 ?profession.
  FILTER (?profession = wd:Q3922583 || ?profession = wd:Q28640 || ?profession = wd:Q192581 || ?profession = wd:Q4164871 || ?profession = wd:Q6958747 || ?profession = wd:Q1914636)
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en".
    ?occupation rdfs:label ?occupationLabel .
  }
}
GROUP BY ?occupationLabel 
ORDER BY DESC(?total)
"""

# Create the DataFrame
def get_dataframe_from_sparql(query):
    sparql_wd.setQuery(query)
    sparql_wd.setReturnFormat(JSON)
    results = sparql_wd.query().convert()

    data = []
    for result in results["results"]["bindings"]:
        data.append({
       'Occupation': result['occupationLabel']['value'],
       'Male': result['maleCount']['value'],
       'Female': result['femaleCount']['value'],
       'Intersex': result['intersexCount']['value'],
       'Total': result['total']['value']
        })

    df = pd.DataFrame(data)
    df.columns = ['Occupation', 'Male', 'Female', 'Intersex', 'Total']
    return df

df = get_dataframe_from_sparql(query)

# Save the data to a CSV file
df.to_csv("serial_killers_occupation.csv")

df

                         Occupation Male Female Intersex Total
0                             nurse   14     17        0    31
1                military personnel   25      0        0    25
2                         physician   16      2        0    18
3                        prostitute    3      5        0     8
4                            writer    7      1        0     8
5                           soldier    8      0        0     8
6                         scientist    8      0        0     8
7                        journalist    8      0        0     8
8                    police officer    8      0        0     8
9                          mechanic    6      0        0     6
10                     psychiatrist    6      0        0     6
11                     truck driver    4      0        0     4
12                          butcher    4      0        0     4
13                     entrepreneur    4      0        0     4
14                     photographer    4      0        0     4
15                   businessperson    3      1        0     4
16                             poet    4      0        0     4
17                      electrician    4      0        0     4
18                      taxi driver    4      0        0     4
19                      salesperson    4      0        0     4
20                         gardener    4      0        0     4
21                           lawyer    3      0        0     3
22                       politician    3      0        0     3
23                           joiner    3      0        0     3
24                real estate agent    2      1        0     3
25         American football player    3      0        0     3
26                      firefighter    2      0        0     2
27                        mercenary    2      0        0     2
28                       accountant    2      0        0     2
29                   aircraft pilot    2      0        0     2
30                            judge    2      0        0     2
31                           hitman    2      0        0     2
32                         procurer    1      1        0     2
33                           barber    2      0        0     2
34                           waiter    2      0        0     2
35                       contractor    2      0        0     2
36                         merchant    2      0        0     2
37                             chef    2      0        0     2
38                         novelist    1      1        0     2
39                    mathematician    2      0        0     2
40                          midwife    0      2        0     2
41                          chemist    2      0        0     2
42                   security guard    1      1        0     2
43                             cook    0      2        0     2
44                        chauffeur    2      0        0     2
45                           leader    2      0        0     2
46                    street vendor    1      0        1     2
47                   choir director    2      0        0     2
48                       technician    2      0        0     2
49                        stevedore    2      0        0     2
50              construction worker    1      1        0     2
51                            guard    2      0        0     2
52                          cobbler    2      0        0     2
53                          skipper    2      0        0     2
54                          teacher    2      0        0     2
55                         engineer    2      0        0     2
56                          plumber    1      0        0     1
57                           roofer    1      0        0     1
58                        bodyguard    1      0        0     1
59                        subdeacon    1      0        0     1
60                     cartographer    1      0        0     1
61                  business person    1      0        0     1
62                 government agent    1      0        0     1
63             employee of printing    1      0        0     1
64                          dentist    1      0        0     1
65                       stonemason    1      0        0     1
66                            baker    1      0        0     1
67                     warehouseman    1      0        0     1
68                      housekeeper    0      1        0     1
69                       babysitter    1      0        0     1
70                       watchmaker    1      0        0     1
71                          warrior    1      0        0     1
72         real estate entrepreneur    1      0        0     1
73   forensic blood spatter analyst    1      0        0     1
74                           cowboy    1      0        0     1
75                     psychologist    1      0        0     1
76                         organist    1      0        0     1
77                    schoolteacher    1      0        0     1
78                investment banker    1      0        0     1
79                            noble    0      1        0     1
80                          gambler    1      0        0     1
81                       ranch hand    1      0        0     1
82                      handyperson    1      0        0     1
83                  military leader    1      0        0     1
84                       dressmaker    0      0        1     1
85                       farmworker    1      0        0     1
86                 amateur wrestler    0      1        0     1
87            professional wrestler    0      1        0     1
88                       art forger    1      0        0     1
89                          monarch    0      1        0     1
90                       bus driver    1      0        0     1
91                           butler    1      0        0     1
92                       pharmacist    1      0        0     1
93                    hotel manager    1      0        0     1
94                     confectioner    1      0        0     1
95                 environmentalist    1      0        0     1
96                 funeral director    1      0        0     1
97                    auto mechanic    1      0        0     1
98                           welder    1      0        0     1
99                damage controlman    1      0        0     1
100                         blogger    1      0        0     1
101                      militiaman    1      0        0     1
102                   naval officer    1      0        0     1
103        gridiron football player    1      0        0     1
104                           clerk    1      0        0     1
105       obstetrician-gynecologist    1      0        0     1
106                         cleaner    1      0        0     1
107                         surgeon    1      0        0     1
108                   special agent    1      0        0     1
109               radio personality    1      0        0     1
110                     illustrator    1      0        0     1
111                       detective    1      0        0     1
112                        marksman    1      0        0     1
113                       scrivener    1      0        0     1
114                       beekeeper    1      0        0     1
115                 garden designer    1      0        0     1
116            landscape contractor    1      0        0     1
117  information systems technician    1      0        0     1
118                     game tester    0      1        0     1
119       newspaper delivery person    1      0        0     1
120                      missionary    1      0        0     1
121                    witch doctor    0      1        0     1
122                          turner    1      0        0     1
123                       herbalist    0      1        0     1
124                      roboticist    1      0        0     1
125                       Q21086673    1      0        0     1
126                 bookstore clerk    1      0        0     1
127               bookstore manager    1      0        0     1
128                     hairdresser    1      0        0     1
129                          busser    1      0        0     1
130                  railway worker    1      0        0     1
131                        gendarme    1      0        0     1

**What Is the Punishment for Serial Killers?**
---

In [75]:
query = """
SELECT DISTINCT ?penaltyLabel (SUM(IF(?gender = wd:Q6581097, 1, 0)) AS ?maleCount) (SUM(IF(?gender = wd:Q6581072, 1, 0)) AS ?femaleCount) (COUNT(DISTINCT ?person) AS ?count) WHERE {
  ?person wdt:P106 wd:Q484188 ; 
          wdt:P1596 ?penalty ;
          wdt:P21 ?gender .
  ?penalty rdfs:label ?penaltyLabel .
  FILTER (LANG(?penaltyLabel) = "en")
}
GROUP BY ?penaltyLabel 
ORDER BY DESC(?count)
"""

# Create the DataFrame
def get_dataframe_from_sparql(query):
    sparql_wd.setQuery(query)
    sparql_wd.setReturnFormat(JSON)
    results = sparql_wd.query().convert()

    data = []
    for result in results["results"]["bindings"]:
        data.append({
       'Penalty': result['penaltyLabel']['value'],
       'Total': int(result['count']['value']),
       'Male': int(result['maleCount']['value']),
       'Female': int(result['femaleCount']['value']),
        })

    df = pd.DataFrame(data)
    df.columns = ['Penalty', 'Male', 'Female', 'Total']
    return df

df = get_dataframe_from_sparql(query)

# Save the data to a CSV file
df.to_csv("serial_killers_penalty.csv")

df

                        Penalty  Male  Female  Total
0            capital punishment   148     133     15
1             life imprisonment   111     102      9
2        involuntary commitment     8       7      1
3                 incarceration     6       5      1
4   capital punishment in Japan     3       3      0
5                       hanging     2       1      1
6          solitary confinement     1       1      0
7   back-to-back life sentences     1       1      0
8                electric chair     1       1      0
9                          None     1       1      0
10         penal transportation     1       1      0
11         mandatory sentencing     1       1      0
12         execution by hanging     1       1      0
13                   immurement     1       0      1
14  Life imprisonment in Russia     1       1      0
15                      Katorga     1       1      0
16                dismemberment     1       1      0
17                 imprisonment     1       0      1

**Educated Serial Killers. Which Serial Killers Actually Earned Graduate Degrees?**
---

In [76]:
# Statistics on serial killers with and without higher education (university)
query = """
SELECT 
  (COUNT(DISTINCT ?personWithEducation) / COUNT(DISTINCT ?person) * 100 AS ?percentWithEducation)
  (COUNT(DISTINCT ?personWithoutEducation) / COUNT(DISTINCT ?person) * 100 AS ?percentWithoutEducation)
WHERE {
{
    SELECT DISTINCT ?person
    WHERE {
      ?person wdt:P106 wd:Q484188 ;
              wdt:P69 ?education .
    }
  }
  BIND (COUNT(DISTINCT ?person) AS ?total) .
  {
    SELECT DISTINCT ?personWithEducation
    WHERE {
      ?personWithEducation wdt:P106 wd:Q484188 ;
                          wdt:P69 ?education .
      ?education wdt:P31/wdt:P279* wd:Q3918 .
    }
  }
  BIND (COUNT(DISTINCT ?personWithEducation) AS ?withEducation) .
  {
    SELECT DISTINCT ?personWithoutEducation
    WHERE {
      ?personWithoutEducation wdt:P106 wd:Q484188 ;
                             wdt:P69 ?education .
      FILTER NOT EXISTS { ?education wdt:P31/wdt:P279* wd:Q3918 . }
    }
  }
  BIND (COUNT(DISTINCT ?personWithoutEducation) AS ?withoutEducation) .
}
"""

sparql_wd.setQuery(query)

results = sparql_wd.query().convert()

# Create the DataFrame
df = pd.DataFrame([
    {
        'With Higher Education' : result['percentWithEducation']['value'],
        'Without Higher Education' : result['percentWithoutEducation']['value'],
    }
    for result in results['results']['bindings']
])

# Save the data to a CSV file
df.to_csv("serial_killers_education_stats.csv")

df

  With Higher Education Without Higher Education
0  35.77981651376146789    83.486238532110091743

In [49]:
query = """
SELECT ?killerLabel (GROUP_CONCAT(DISTINCT ?countryLabel; separator=", ") AS ?country) (GROUP_CONCAT(DISTINCT ?educationLabel; separator=", ") AS ?education) (GROUP_CONCAT(DISTINCT ?occupationLabel; separator=", ") AS ?occupation) (GROUP_CONCAT(DISTINCT ?victimLabel; separator=", ") AS ?victims) (GROUP_CONCAT(DISTINCT ?conditionLabel; separator=", ") AS ?condition)  WHERE {
?killer wdt:P106 wd:Q484188 .
?killer wdt:P69 ?education .
?education wdt:P31/wdt:P279* wd:Q3918 .
OPTIONAL {
?killer wdt:P106 ?occupation .
?occupation wdt:P31 ?profession .
FILTER (?profession = wd:Q3922583 || ?profession = wd:Q28640 || ?profession = wd:Q192581 || ?profession = wd:Q4164871 || ?profession = wd:Q6958747 || ?profession = wd:Q1914636)
}
OPTIONAL {
?killer wdt:P1345 ?victim .
}
OPTIONAL {
?killer wdt:P1050 ?condition .
?condition wdt:P1995 ?healthSpecialty .
FILTER (?healthSpecialty IN (wd:Q7867, wd:Q9418, wd:Q170912, wd:Q178059))
}
OPTIONAL {
?killer wdt:P27 ?country .
?country wdt:P31 wd:Q3624078 .
}
SERVICE wikibase:label {
bd:serviceParam wikibase:language "en" .
?killer rdfs:label ?killerLabel .
?education rdfs:label ?educationLabel .
?occupation rdfs:label ?occupationLabel .
?victim rdfs:label ?victimLabel .
?condition rdfs:label ?conditionLabel .
?country rdfs:label ?countryLabel .
}
}
GROUP BY ?killerLabel
"""

# Create the DataFrame
def get_dataframe_from_sparql(query):
    sparql_wd.setQuery(query)
    sparql_wd.setReturnFormat(JSON)
    results = sparql_wd.query().convert()

    data = []
    for result in results["results"]["bindings"]:
        data.append({
        'Serial Killer': result["killerLabel"]["value"],
        'Country': result["country"]["value"],
        'University': result["education"]["value"],
        'Occupation': result["occupation"]["value"],
        'Victims': result["victims"]["value"],
        'Mental Condition': result["condition"]["value"]
        })

    df = pd.DataFrame(data)
    df.columns = ['Serial Killer', 'Country', 'University', 'Occupation', 'Victims', 'Mental Condition']
    return df

df = get_dataframe_from_sparql(query)

# Save the data to a CSV file
df.to_csv("serial_killers_education.csv")

df

,Serial Killer,Country,University,Occupation,Victims,Mental Condition
0,Ted Bundy,United States of America,"University of Utah, University of Washington, ...",psychologist,36,antisocial personality disorder
1,Ted Kaczynski,United States of America,"University of Michigan, Harvard University","writer, mathematician, environmentalist",,
2,Jeffrey Dahmer,United States of America,Ohio State University,"confectioner, soldier",17,"personality disorder not otherwise specified, ..."
3,Harold Shipman,United Kingdom,University of Leeds,physician,,
4,H. H. Holmes,United States of America,University of Vermont,"physician, pharmacist, hotel manager",,
5,Dennis Rader,United States of America,Wichita State University,,,
6,Charles Albright,United States of America,University of Central Arkansas,,,
7,Andrew Cunanan,United States of America,"University of California, San Diego",prostitute,,antisocial personality disorder
8,William Heirens,United States of America,University of Chicago,,,
9,Joji Obara,Japan,"Komazawa University, Keio University","merchant, real estate entrepreneur",2,
10,Doug Clark,United States of America,Northern Arizona University,,,
11,Michael Bruce Ross,United States of America,Cornell University,,,
12,Randy Steven Kraft,United States of America,"California State University, Long Beach",military personnel,,
13,Valery Fabrikant,Canada,Moscow Power Engineering Institute,mathematician,,
14,Miyuki Ishikawa,Japan,University of Tokyo,"midwife, real estate agent",,
15,Clayton Fountain,United States of America,Ohio University,,,
16,Anthony Hardy,United Kingdom,Imperial College London,,,bipolar disorder
17,Gregorio Cárdenas Hernández,Mexico,National Autonomous University of Mexico,lawyer,,
18,Paul Bernardo,Canada,University of Toronto,,,
19,Sergey Golovkin,Russia,Russian State Agricultural University,,,
20,Rodney Alcala,United States of America,"University of California, Los Angeles",,,antisocial personality disorder
21,Alberto Falcone,United States of America,Harvard University,,,
22,Michael Swango,United States of America,Quincy University,physician,,
23,Kristen Gilbert,United States of America,Bridgewater State University,nurse,,
24,Joseph Edward Duncan III,United States of America,North Dakota State University,blogger,,
25,Christopher Dorner,United States of America,Southern Utah University,"police officer, naval officer, gridiron footba...",,
26,Cristián Labbé,Chile,"The Catholic University of America, Adolfo Ibá...",military personnel,,
27,Jerry Sandusky,United States of America,Pennsylvania State University,"journalist, American football player",,
28,Kyle Craig,United States of America,Duke University,special agent,,
29,Timothy Krajcir,United States of America,Southern Illinois University Carbondale,,,
30,Saulat Mirza,Pakistan,University of Karachi,,,
31,Tamara Samsonova,Russia,Moscow State Linguistic University,,,schizophrenia
32,Atalay Filiz,Turkey,University of Paris-Sud,,,
33,Richard Rogers (serial killer),United States of America,"University of Maine, Pace University",,2,
34,Andrei Chikatilo,Russia,"Rostov State University, Russian University of...","military personnel, schoolteacher",43,"borderline personality disorder, pedophilia"
35,Eric Beishline,,Purdue University,,,
36,Li Yijiang,,Beijing Institute of Technology,,,
37,James Dale Ritchie,,West Virginia University,,,
38,Robert Neal Rodriguez,,Brigham Young University,missionary,,

**Dangerous Minds: The Mental Illnesses Of Infamous Criminals**
---

In [78]:
query = """
SELECT ?conditionLabel (SUM(IF(?gender = wd:Q6581097, 1, 0)) AS ?maleCount) (SUM(IF(?gender = wd:Q6581072, 1, 0)) AS ?femaleCount) (COUNT(?condition) AS ?count) WHERE {
  ?person wdt:P106 wd:Q484188 .
  ?person wdt:P1050 ?condition .
  ?person wdt:P21 ?gender .
  ?condition wdt:P1995 ?healthSpecialty .
FILTER (?healthSpecialty IN (wd:Q7867, wd:Q9418, wd:Q170912, wd:Q178059))
SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en" .
    ?condition rdfs:label ?conditionLabel .
    ?occupation rdfs:label ?occupationLabel .
  }
}
GROUP BY ?conditionLabel
ORDER BY DESC(?count)
"""

def get_dataframe_from_sparql(query):
    sparql_wd.setQuery(query)
    sparql_wd.setReturnFormat(JSON)
    results = sparql_wd.query().convert()

    data = []
    for result in results["results"]["bindings"]:
      data.append({
        'Mental Ilness' : result['conditionLabel']['value'],
        'Male': int(result['maleCount']['value']),
        'Female': int(result['femaleCount']['value']),
        'Total' : result['count']['value']
        })

    df = pd.DataFrame(data)
    df.columns = ['Mental Ilness', 'Male', 'Female', 'Total']
    return df

df = get_dataframe_from_sparql(query)

# Save the data to a CSV file
df.to_csv("serial_killers_mental_conditions.csv")

df

                                   Mental Ilness  Male  Female Total
0                antisocial personality disorder    18       0    18
1                borderline personality disorder     6       0     6
2                                     pedophilia     4       0     4
3                                  schizophrenia     2       1     3
4                               bipolar disorder     3       0     3
5   personality disorder not otherwise specified     2       0     2
6                                     alcoholism     2       0     2
7                                    necrophilia     2       0     2
8                                    kleptomania     2       0     2
9                           personality disorder     2       0     2
10                          erectile dysfunction     2       0     2
11                               speech disorder     1       0     1
12                                   psychopathy     1       0     1
13                                      muteness     1       0     1
14                        sexual sadism disorder     1       0     1
15                                     psychosis     1       0     1